<body *ngFor="let empresa of lista">
  
  <!--========================================================
                            HEADER
  =========================================================-->
    <header>  
      <div class="container top-sect">
        <div class="navbar-header">
          <h1 class="navbar-brand">
            <a data-type='rd-navbar-brand'  href="./"><small>{{empresa.denominacion}}</small></a>
          </h1>
          <a class="search-form_toggle" href="#"></a>
        </div>

        <div class="help-box text-right">
          <p>Telefono</p>
          <a href="callto:#">{{empresa.telefono}}</a>
          
          <small><span><br>Horario:</span> {{empresa.horarioAtencion}}</small>
        </div> 
      </div>
     
	  <div id="stuck_container" class="stuck_container">
        <div class="container">   
			<nav class="navbar navbar-default navbar-static-top pull-left">            
				<div class="">  
				  <ul class="nav navbar-nav sf-menu sf-js-enabled sf-arrows" data-type="navbar">
					<li style="list-style: none;" class="active">
					  <a href="home.html">INICIO</a>
					</li>
					<li style="list-style: none;">
					  <a href="./">LISTA EMPRESAS</a>
					</li>
				  </ul>                           
				</div>
			</nav>
			<form class="search-form" action="buscador.html" method="GET" accept-charset="utf-8">
			  <label class="search-form_label">
				<input class="search-form_input" type="text" name="buscar" autocomplete="off" placeholder="Ingrese Texto"/>
				<span class="search-form_liveout"></span>
			  </label>
			  <button class="search-form_submit fa-search" type="submit"></button>
			</form>
             
        </div>

      </div>  

    </header>

  <!--========================================================
                            CONTENT
  =========================================================-->

    <main *ngFor="let noticia of listaNoticia">  

      <section class="well well1 well1_ins1">
        <div class="camera_container">
          <div id="camera" class="camera_wrap">
            <img src="src/assets/imagenes/noticia1.jpg" alt="image">
              <div class="camera_caption fadeIn">
                <div class="jumbotron jumbotron1">
                  <em>
                    <a href="detalle.html">{{noticia.titulo}}</a>
                  </em>
                  <div class="wrap">
                    <p>
                      {{noticia.resumen}}
                    </p>
                    <a href="detalle.html" class="btn-link fa-angle-right"></a>
                  </div>  
                </div>
              
            </div>
          </div>
        </div>
      
      </section>
    </main>
       
        <h2 class="card-body">
          Quienes Somos
        </h2>
          <div class="card-body">
            <div class="col">
              <p style="text-align:justify">
                {{empresa.quienSomos}}
              </p>
            </div>
          </div>
     


    

    <!--========================================================
                            FOOTER
  =========================================================-->
  <footer class="top-border">
	<section class="well well2 wow fadeIn  bg1" data-wow-duration='3s'>
        <div class="container">
        <h2 class="txt-pr">
        Donde estamos
        </h2>
        </div>
    </section>
	<div class="map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d11270.125646913215!2d-33.144492!3d-68.486814!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2sar!4v1615335513448!5m2!1ses-419!2sar" width="1600" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>

    <section class="well1">
      <div class="container"> 
            <p class="rights">
              Denominación Empresa  &#169; <span id="copyright-year"></span>
              <a href="index-5.html">Privacy Policy</a>
              <!-- {%FOOTER_LINK} -->
            </p>          
      </div> 
    </section>    
  </footer>
  


  </body>

