
.letraTitulo{
    text-shadow: -2px -2px 0 rgb(0, 0, 0),  
    2px -2px 0 rgb(0, 0, 0),
   -2px 2px 0 rgb(0, 0, 0),
    2px 2px 0  rgb(0, 0, 0);
    font-size: 35px;
    color: azure;
}

.letraResumen{
    text-shadow: -1px -1px 0 rgb(0, 0, 0),  
    1px -1px 0 rgb(0, 0, 0),
   -1px 1px 0 rgb(0, 0, 0),
    1px 1px 0  rgb(0, 0, 0);
    font-size: 25px;
    color: blanchedalmond;
}