<html lang="en">

<body>

  <!--========================================================
                            HEADER
  =========================================================-->
  <header >
    <nav class="navbar navbar-light bg-light">
      
      <a class="navbar-brand">
        <font size=12 face="Comic Sans MS,arial">{{empresa?.denominacion}}</font>

      </a>
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Buscar Noticia" aria-label="Search"
          (keyup)="filtrar($event.target.value)">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit"
          [routerLink]="['/empresa', empresa.id, 'buscador', termino]">Search</button>
      </form>
    </nav>

  </header>

  
  <div class="card" style="color:black; margin: 2rem; background-color:paleturquoise;">
    <div class="card-header">
      Información
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <footer class="blockquote-footer">
          <p>Teléfono</p>
          <a href="callto:#">{{empresa?.telefono}}</a>
          <p>Horario de atención</p>
          <a href="callto:#">{{empresa?.horarioAtencion}}</a>

        </footer>
      </blockquote>
    </div>
  </div>

  <div class= "card" style="color:black; margin: 2rem; background-color:darkgrey;">
    <nav class="navbar navbar-light bg-light">
      <form class="form-inline">
        <button class="btn btn-outline-success" type="button" [routerLink]="['/home', empresa.id]">Inicio</button>
        <button class="btn btn-sm btn-outline-secondary" type="button" routerLink="/index">Listar Empresas</button>
      </form>
    </nav>
  </div>

  
  <!--========================================================
                            CONTENT
  =========================================================-->

  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" *ngFor="let noticia of listaNoticia;let i = index" attr.data-slide-to="{{i}}" ngClass="i == 0 ? 'active' : ''"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item" *ngFor="let noticia of listaNoticia;let index = index;let isFirst = first" [ngClass]="{active:isFirst}"
      routerLink="/empresa/{{empresa.id}}/detalle-noticia/{{noticia.id}}">
        <img src="/assets/images/{{noticia.imagen}}" class="d-block w-100" [alt]="noticia.titulo" width="1700" height="700">
        <div class="carousel-caption d-none d-md-block">
          <h5 class="letraTitulo">{{noticia?.titulo}}</h5>
          <p class="letraResumen">{{noticia?.resumen}}</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>



</body>


<!--========================================================
                            FOOTER
  =========================================================-->
  <h1 style="color:black; margin: 2rem; background-color:paleturquoise;">-</h1>
<footer>
  <div class="card">
   
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <h2 style="text-align:justify">
          Quienes somos
        </h2>
        <footer class="blockquote-footer">{{empresa?.quienSomos}} <cite title="Source Title"></cite></footer>
      </blockquote>
    </div>
  </div>

  <h1 style="color:black; margin: 2rem; background-color:paleturquoise;">-</h1>
  <div class="card">
    
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <h2 style="text-align:justify">
          Donde estamos
        </h2>
      </blockquote>
      <google-map width="1900" height="500" [center]="position">
        <map-marker [position]="position" [label]="label" [title]="title">
        </map-marker>
      </google-map>
    </div>
  </div>

  <h1 style="color:black; margin: 2rem; background-color:paleturquoise;">Informacion</h1>
  <footer class="top-border">
    
    <section class="well1">
      <div class="container">
        <p href="callto:#">Telefono: {{empresa.telefono}}</p>

        <p href="callto:#">Horario de atención: {{empresa.horarioAtencion}}</p>

        <p href="callto:#">Email: {{empresa.email}}</p>

        <p href="callto:#">Domicilio: {{empresa.domicilio}}</p>

        <p class="rights">
          {{empresa?.denominacion}} &#169; <span id="copyright-year">2021</span>
        </p>
      </div>
    </section>
  </footer>
  <h1 style="color:black; margin: 2rem; background-color:paleturquoise;">-</h1>
</footer>

</html>